<div class="container-about"> 
    <h2 class="text-center">A EQUIPA</h2>
    <h3 class="title-about-role">CEO</h3>
    <p class="text-divider"></p>
    <div class="row mb-4">
    <div class="col-sm-4 p-2">
        <div class="image-container-about">
            <img class="img-fluid image-about-ceo" 
            src="./drawable/closecloseup.jpeg" alt="" 
            onmouseover="this.src='./drawable/funnycloscloseup.jpeg'"
            onmouseleave="this.src='./drawable/closecloseup.jpeg'">
        </div>
        <h5 class="text-center mt-3">Paulo Araújo</h5>
        <div class="center-text">
            <h8 class="text-secondary">Produtor/ Guitarrista/ Técnico de som/ Mixer/ Master</h8>
        </div>
    </div>
    </div>
        <h3 class="title-about-role">Colaboradores</h2>
        <p class="text-divider"></p>
        <div class="row mb-4">
            <div class="col-sm-4 p-2">
                <div class="image-container-about">
                    <img class="img-fluid image-about-ceo" 
                    src="./drawable/JorgeCorreia.jpg" alt="" 
                    onmouseover="this.src='./drawable/JorgeCorreiaFunny.jpg'"
                    onmouseleave="this.src='./drawable/JorgeCorreia.jpg'">
                </div>
                <h5 class="text-center mt-3">Jorge Correia</h5>
                <div class="center-text">
                    <h8 class="text-secondary">Trompetista/ Video maker/ Fotógrafo</h8>
                </div>
                
            </div>
            <div class="col-sm-4 p-2">
                <div class="image-container-about">
                    <img class="img-fluid image-about-ceo" 
                    src="./drawable/PedroAntunes.jpeg" alt="" 
                    onmouseover="this.src='./drawable/PedroAntunesFunny.jpeg'"
                    onmouseleave="this.src='./drawable/PedroAntunes.jpeg'">
                </div>
                <h5 class="text-center mt-3">Pedro Antunes</h5>
                <div class="center-text">
                    <h8 class="text-secondary">Baterista/ Professor de bateria</h8>
                </div>
                
            </div>    

            <div class="col-sm-4 p-2">
                <div class="image-container-about">
                    <img class="img-fluid image-about-ceo" 
                    src="./drawable/TiagoEstrada.jpg" alt="" 
                    onmouseover="this.src='./drawable/TiagoEstradaFunny.jpeg'"
                    onmouseleave="this.src='./drawable/TiagoEstrada.jpg'">
                </div>
                <h5 class="text-center mt-3">Tiago Estrada</h5>
                <div class="center-text">
                    <h8 class="text-secondary">Técnico de Captação/ Edição/ Mistura de Som</h8>
                </div>
                
            </div>      
        </div>
        <h3 class="title-about-role">Criadores website</h3>
        <p class="text-divider"></p>
        <div class="row mb-4">
            <div class="col-sm-4 p-2">
                <div class="image-container-about">
                    <img class="img-fluid image-about-ceo" 
                    src="./drawable/DanielPatricio.jpg" alt="" 
                    onmouseover="this.src='./drawable/DanielPatricioFunny.jpg'"
                    onmouseleave="this.src='./drawable/DanielPatricio.jpg'">
                </div>
                <h5 class="text-center mt-3">Daniel Patrício</h5>
            </div>
            <div class="col-sm-4 p-2">
                <div class="image-container-about">
                    <img class="img-fluid image-about-ceo" 
                    src="./drawable/FabioVilela.jpg" alt="" 
                    onmouseover="this.src='./drawable/FabioVilelaFunny.jpg'"
                    onmouseleave="this.src='./drawable/FabioVilela.jpg'">
                </div>
                <h5 class="text-center mt-3">Fábio Vilela</h5>
            </div>      
        </div>
    </div>
</div>