<section id="homepage">

<div class="container1">
  <div class="image">
    <img src="./drawable/closeup.jpeg" class="mobileImg img-fluid" alt="symbol">
    <img src="./drawable/closeup_v2.jpeg" class="webImg img-fluid" alt="symbol">
  </div>
</div>

  <!-- About -->
  <div class="containerImg">
    <div class="row_about">
        <div class="col-md-4">
            <img src="./drawable/Skylogo1.png" class="img-fluid" alt="symbol">
        </div>  
        <div class="col-md-8">
            <h3 class="about-title text-center" style="padding-bottom: 15px;">Studio 33</h2>
            <div class="longtext">
              <p>
                Sou o Paulo e comecei este estúdio apenas com um microfone e uma guitarra. Com o passar dos anos fui investindo tempo e dinheiro e aos poucos construindo o que hoje podes conhecer como o Studio 33. Com a ajuda de amigos decidi dar o último passo e finalmente tornar este espaço num estúdio com as condições necessárias para trabalhar e onde podes gravar também os teus projetos.
              </p>
            </div>
            <div class="btnContainer">
              <button id="btn-homepage" class="btn">Contacta-nos!</button>
            </div>
        </div>  
    </div>
  </div> 

  <div class="service-box">
    
    <a class="HashChanger" id="navbar-services" name="producao" style="cursor: pointer;">
      <div class="container" id="fstContainer">
        <div class="card">
          <div class="imgBx" data-text="Produção">
            <img class="imgContent" src="./drawable/guitar_crop.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <h2>Produção</h2>
              <p>Música é a nossa paixão, e o nosso trabalho é ajudar-te com a tua. Temos ótimos microfones e equipamento que está apto para finalmente lançares os teus sons!
              </p> 
            </div>         
          </div>
        </div>
      </div>
    </a>
    <a class="HashChanger" id="navbar-services" name="mistura-masterizacao" style="cursor: pointer;">
      <div class="container">
        <div class="card">
          <div class="imgBx" data-text="Masterização">
            <img class="imgContent" src="./drawable/mesa2R.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <h2>Masterização</h2>
              <p>
                Se queres que a tua música chegue a mais pessoas, uma boa masterização/mistura é indispensável para que a tua música seja uma ótima experiência para todos os que a ouvem, em qualquer plataforma.
              </p> 
            </div>         
          </div>
        </div>
      </div>
    </a>
    <a class="HashChanger" id="navbar-services" name="podcast" style="cursor: pointer;">
      <div class="container">
        <div class="card">
          <div class="imgBx" data-text="Podcast">
            <img class="imgContent" src="./drawable/podcastpicR.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <h2>Podcast</h2>
              <p>
                Com esta nova onda de podcasts, este é o sitio ideal para fazeres com que o teu se destaque. Ajudamos-te a teres o teu podcast com uma sonoridade profissional, tornando a experiência dos teus ouvintes mais agradável.
              </p> 
            </div>         
          </div>
        </div>
      </div>
    </a>
    <a class="HashChanger" id="navbar-services" name="aulas" style="cursor: pointer;">
      <div class="container">
        <div class="card">
          <div class="imgBx" data-text="Aulas">
            <img class="imgContent" src="./drawable/sheet.jpg" alt="">
          </div>
          <div class="content">
            <div>
              <h2>Aulas</h2>
              <p>
                Se queres começar a aprender um instrumento ou aprofundar o teu conhecimento em algum, estás no sitio certo! Temos uma equipa com ótimos professores que te vão ajudar a melhorar as tuas skills.
              </p> 
            </div> 
        </div>
      </div>
    </div>
  </a>

</section> 

<div class="calltoaction">
    <div class="btn-div text-center">
        <button class="btn-call-to-action HashChanger" id="navbar-projects">Veja os nossos projetos! &nbsp; <span><i class="fas fa-arrow-right"></i></span></button>
    </div>
</div>