<div class="login">
    <ul class="nav navbar-nav ml-auto">
        <div class="login">
            <li class="nav-item">
                <a class="nav-link" href="#login" id="navbar-login" style="cursor: pointer;"><span class="fas fa-sign-in-alt"></span> Login</a>
            </li>
        </div>
        <div class="signup">
            <li class="nav-item">
                <a class="nav-link" href="#signup" id="navbar-signup" style="cursor: pointer;"><span class="fas fa-user"></span> Sign Up</a>
            </li>
        </div>   
    </ul>
</div>
