<div class="login">
    <ul class="nav navbar-nav ml-auto">
        <div class="email">
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;"> <span class="fas fa-sign-in-alt"></span> email: {{email}}</a>
            </li>
        </div>
        <div class="logout">
            <li class="nav-item">
                <a class="nav-link" id="logoutBtn" style="cursor: pointer;"><span class="fas fa-user"></span> logout</a>
            </li>
        </div>   
    </ul>
</div>
