<div class="projects-content">
    
    <!--Section heading-->
    <h2 class="title mt-3 text-center">Projetos</h2>
       
    <div class="card-container">
        <p class="text-divider"></p>

        <h2 id="projects-podcast" class="project-title"><i class="fas fa-guitar"></i> Música</h2>

        <div class="blog-card alt">
            <div class="meta">
            <div class="photo" style="background-image: url(./drawable/b3.jpg)"></div>
            </div>
            <div class="description">
            <h2>B3 - Bi Brain Beat</h2>
            <h3>Banda</h3>
            <p>
                Este projeto foi fundado e produzido por dois membros da nossa equipa, Paulo Araújo e Jorge Correia. Toda a composição, mistura, masterização, vídeo, artwork e produção, foi criada por estes dois membros da nossa equipa.
            </p>
            <p class="read-more">
                <a href="https://open.spotify.com/artist/5Edur2PLf6fDQLlMxASTzR?si=nAj0y4aGTdafwvTzwX1KXQ">Listen</a>
            </p>
            </div>
        </div>
        <!-- <div class="blog-card alt">
            <div class="meta">
            <div class="photo" style="background-image: url(./drawable/sky.jpg)"></div>
            </div>
            <div class="description">
            <h2>Sky</h2>
            <h3>Sub-title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Listen</a>
            </p>
            </div>
        </div> -->
        <div class="blog-card alt">
            <div class="meta">
                <div class="photo" style="background-image: url(./drawable/murta.jpg)"></div>
            </div>
            <div class="description">
                <h2>Murta</h2>
                <h3>Artista</h3>
                <p>
                    O Paulo Araújo, CEO e guitarrista da nossa equipa, gravou guitarras para uma das músicas do álbum do Francisco Murta. Está também a ser gravada uma música no nosso estúdio, em que o cantor participa.
                </p>
                <p class="read-more">
                    <a href="https://open.spotify.com/album/5D8vgJULNjCqgA68LrNZNo?si=z-JDhilpQJaxUYEIqgY1ng">Listen</a>
                </p>
            </div>
        </div>

        <!-- <div class="blog-card alt">
            <div class="meta">
                <div class="photo"></div>
            </div>
            <div class="description">
                <h2>Youtube</h2>
                <h3>Rede-Social</h3>
                <p>
                    Neste canal do YouTube podem ver alguns dos trabalhos de produção musical a que nos referimos. 
                </p>
                <p class="read-more">
                    <a href="#">Listen</a>
                </p>
            </div>
        </div> -->

        <div style="margin-top: 60px;"></div>

        <h2 id="projects-podcast" class="project-title text-right"><i class="fas fa-microphone-alt"></i> Podcasts</h2>

        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(./drawable/fidelidade.jpeg)"></div>
            </div>
            <div class="description">
                <h2>Fidelidade-Seguros</h2>
                <h3>Podcast</h3>
                <p> 
                    O podcast “Mas isso tem saída” fundado pela Fidelidade e apresentado por Caetano Xavier foi um dos projetos misturado/masterizado pela nossa equipa. Sendo a fidelidade uma empresa grande, já tinham tudo planeado e sabiam exatamente como queriam o seu podcast. A nossa equipa certificou-se que ficava como imaginaram. 
                </p>
                <p class="read-more">
                    <a href="https://open.spotify.com/show/7l7d6GpZMmYw17y4rls20c?si=95f6odFOTaelRFTB_mpGFQ">Listen</a>
                </p>
            </div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(./drawable/economicamente.jpg)"></div>
            </div>
            <div class="description">
                <h2>Economicamente Falando</h2>
                <h3>Podcast</h3>
                <p>
                    O podcast “Economicamente falando” foi fundado pelo Caetano Xavier e é a nossa equipa que faz a mistura/masterização de todos os seus episódios. Uma vez que este podcast é gravado em diversos ambientes, é nosso dever assegurar de que este mantém a mesma “sala” em todos os episódios, fazendo com que seja familiar à perceção dos seus ouvintes. 
                </p>
                <p>
                    Foi também a nossa equipa que misturou/masterizou o genérico.
                </p>
                
                <p class="read-more">
                    <a href="https://open.spotify.com/show/2f8PghqIq2g0G53XCEhukr?si=rm_79EaWTOesOCilmEzvdA">Listen</a>
                </p>
            </div>
        </div>
        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(./drawable/asneiras.jpg)"></div>
            </div>
            <div class="description">
                <h2>Não digas asneiras</h2>
                <h3>Podcast</h3>
                <p> 
                    O podcast “Não digas asneiras”, criado por Joana Silva, conta com a mistura/masterização da nossa equipa. Fizemos um dos genéricos deste podcast, e foram diversos os episódios gravados no nosso estúdio.
                </p>
                <p class="read-more">
                    <a href="https://open.spotify.com/show/7rPIMolgVVNBGPhsjHFg1L?si=Zq0xB3tUS3WcBc9_o7KafA">Listen</a>
                </p>
            </div>
        </div>
    </div>
</div>