<div class="box" id="services">
    <div class="container-2">
        <!--Section heading-->
        <h2 class="title mt-3 text-center">Serviços</h2>
        <!--<p class="text-divider"></p>-->
    </div>
    
    <div class="project-theme-detail">
        <div class="container-1">     
            <h4 class="project-title">Produção / Gravação</h4>
            <div class="contain-flex">
                <div class="horizontal-bar"></div>
                <div style="width: 100%;">        
                    <div class="description">
                        <p>
                            Se queres dar o próximo passo para que a tua música tenha uma sonoridade mais profissional temos ótimos equipamentos e profissionais em diversos instrumentos e estilos musicais.
                            <br>Caso seja de um espaço para gravares os teus instrumentos ou de músicos para apimentar a tua produção, que precisas, basta contactares-nos!
                        </p>
                    </div>          
                </div>
            </div>
            <div class="container-btn">
                <button class="btn-producao contact-us-btn HashChanger" id="navbar-contact" name="producao">Contacto</button>
            </div> 
        </div>
    </div>

    <div id="services-mistura-masterizacao"  class="project-theme-detail-1">
        <div class="container-1">     
            <h4 class="project-title">Masterização / Mistura</h4>
            <div class="contain-flex">
                <div class="horizontal-bar-1"></div>
                <div style="width: 100%;">
                    <div class="description">                   
                        <p>
                            Se já gravaste a tua música, filme ou clip e queres que esteja com uma sonoridade clara e limpa, em qualquer plataforma, estás no lugar certo!
                            <br>Entra em contacto connosco e prometemos dar-te aquilo que precisas.
                        </p>
                    </div>                    
                </div>                
            </div>
            <div class="container-btn">
                <button class="btn-master contact-us-btn HashChanger" id="navbar-contact" name="mistura">Contacto</button>
            </div>  
        </div>
    </div>

    <div id="services-podcast"  class="project-theme-detail">
        <div class="container-1">     
            <h4 class="project-title">Podcast</h4>
            <div class="contain-flex">
                <div class="horizontal-bar-2"></div>
                <div style="width: 100%;">
                    <div class="description">                   
                        <p>
                            Se estiveres a pensar começar um podcast nós ajudamos-te a escolher o equipamento necessário, tendo em conta o teu budget, como o melhor microfone, os melhores headsets ou os programas que deves usar para a gravação.
                            <br>Se já tens tudo o que precisas, fazemos a edição do teu podcast de acordo com as tuas preferências, assim como a masterização, para teres a melhor qualidade possível, para ti e para quem te ouve!
                            <br>Se é de um espaço para gravar que precisas, fala connosco!
                        </p>
                    </div>
                </div>                
            </div>
            <div class="container-btn">
                <button class="btn-podcast contact-us-btn HashChanger" id="navbar-contact" name="podcast">Contacto</button>
            </div>  
        </div>
    </div>
    
    <div id="services-aulas" class="project-theme-detail-1">
        <div class="container-1">     
            <h4 class="project-title">Aulas</h4>
            <div class="contain-flex">
                <div class="horizontal-bar-3"></div>
                <div style="width: 100%;">
                    <div class="description">                   
                        <p>
                            Se queres começar a aprender um instrumento ou aprofundar o teu conhecimento em algum, estás no sítio certo! Temos uma equipa de ótimos professores para te ajudar melhorar as tuas skills.
                        </p>
                    </div> 
                </div>                
            </div>
            <div class="container-btn">
                <button class="btn-aulas contact-us-btn HashChanger" id="navbar-contact" name="aulas">Contacto</button>
            </div>  
        </div>
    </div>
</div>